{% extends 'base.html.twig' %}

{% block content %}
    <div class="container bg-light">
        <div class="row">
            <div class="col col-12 text-center">
                <h2>Test Marvel</h2>
                <h1>{{ character.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-3">
                <img src="{{ character.thumbnail.path }}/portrait_uncanny.{{ character.thumbnail.extension }}" class="img-fluid w-100" alt="{{ character.name }} image">
            </div>
            <div class="col col-12 col-md-9">
                <h3>Description</h3>
                <p>{{ character.description }}</p>
                <h3>{{ character.name }} apparaît dans {{ character.comics.available }} comics, dont&nbsp;:</h3>
                <ul>
                    {% for comic in character.comics.items|slice(0, 3) %}
                    <li>«&nbsp;{{ comic.name }}&nbsp;»</li>
                    {% else %}
                    <li>Impossible de récupérer la liste de comics</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row text-center">
            <div class="col col-12">
                <a href="/" title="Revenir à la liste des personnages" class="btn btn-danger">&lt;&nbsp;Retour&nbsp;</a>
            </div>
        </div>
    </div>
{% endblock content %}